<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular feast</title>
    <script src="./src/lib/angular.min.js"></script>
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="stylesheet" href="static/bootstrap/bootstrap.min.css">
</head>

<body>
    <div class="container vh-100 p-4" ng-app="angularFeastApp" ng-controller="angularFeastController">

        <h1>Angular Feast</h1>
        <hr class="mt-1" style=" height: 2px; background-color: {{favColor}};">

        <p class="h6 mb-3">Name:</p>
        <input class="form-control mb-3" type="text" ng-model="name">

        <p class="h6 my-2">Angular expressions are simple: Enter below a number and I will square it for you</p>
        <input type="number" class="form-control my-2" ng-model="number">
        <p class="my-2">The square of {{number}} is {{number * number}}</p>

        <div class="card small">
            <div class="card-header" style="background-color: {{favColor}};">
                <!-- using angular to change css property-->
                <p class="card-title h6 my-0">Hello {{name}}</p>
            </div>
            <div class="card-body">
                <p class="mb-2">Your favourite color is <span class="badge px-2" style="background-color:{{favColor}};">
                        {{favColor | uppercase}}</span>
                </p>

                <div ng-show="showQuickColors">
                    <p>Select one below to change</p>
                    <input type="text" class="form-control small my-2" ng-model="colorFilter"
                        placeholder="filter colors">
                    <div class="btn-group btn-group-sm" role="group" aria-label="">

                        <button ng-repeat="color in quickColors | filter : colorFilter" ng-click="updateFavColor(color)"
                            type="button" class="btn small" style="background-color: {{color}};">{{color}}</button>

                    </div>
                </div>
            </div>

            <div class="card-footer">
                <button ng-click="toggleButtonGroup()" class="btn btn-sm" style="background-color: {{favColor}};">
                    {{showQuickColors ? "Hide" : "Show"}} colors
                </button>
            </div>
        </div>

        <p class="my-2 p-2 h3" feast-directive></p>
        <hr class="mt-1" style=" height: 1px; background-color: {{favColor}};">


    </div>

</body>

<script src="./src/AppModule.js"></script>
<script src="./src/Controller.js"></script>
<script src="./src/Directives.js"></script>

</html>